<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css" type="text/css">
</head>

<body>
  <header id="page-header">
    <h1>Template</h1>
  </header>

  <main class="container">
    <section>
      <h2>Template</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore fuga
        sit qui suscipit dolore natus porro excepturi, nemo odit illum
        nesciunt necessitatibus earum soluta exercitationem est expedita
        perferendis odio molestias.</p>
    </section>
  </main>

  <script src="./scripts/index.js" type="text/javascript"
    charset="utf-8"></script>
</body>

</html>