/*  Global */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #0093E9;
  background-image: -webkit-linear-gradient(115deg, #0093E9 0%, #80D0C7 100%);
  background-image: -moz-linear-gradient(115deg, #0093E9 0%, #80D0C7 100%);
  background-image: -o-linear-gradient(115deg, #0093E9 0%, #80D0C7 100%);
  background-image: linear-gradient(115deg, #0093E9 0%, #80D0C7 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.sr-only {
  margin: 0;
  padding: 0;
  width: 1;
  height: 1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;

  position: absolute;
}

.hide {
  display: none;
}

.container {
  background-color: #fff;
  border: none;
  border-radius: 0.25rem;
  margin: 2rem auto;
  padding: 1rem;
  width: 90vw;
  max-width: 600px;
}

.container p {
  margin: 1rem 0;
}

section *+* {
  margin-top: 1rem;
}

section h2 {
  font-size: 2rem;
}

form *+* {
  margin-top: 0.4rem;
}

input,
label {
  border: none;
  border-radius: 0.25rem;
  height: 2rem;
  display: block;
  width: 100%;
}

label {
  font-size: 1.3rem;
  font-weight: 500;
}

input {
  border: 1px solid #0093E9;
  margin: 1rem 0;
  padding: 0 0.6rem;
  height: 2.4rem;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
}

input:invalid {
  outline: 0;
  border: 1px solid #ff0d0d;
  box-shadow: 0 0 10px #ff0d0d;
}

button {
  background-color: #0093E9;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  height: 2.4rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: .3s ease-in-out;
}

button:hover {
  background-color: rgba(0, 147, 233, 0.7);
}
