/*  Global */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 83.75%;
}

body {
  background-color: #0093E9;
  background-image: -webkit-linear-gradient(115deg, #0093E9 0%, #80D0C7 100%);
  background-image: -moz-linear-gradient(115deg, #0093E9 0%, #80D0C7 100%);
  background-image: -o-linear-gradient(115deg, #0093E9 0%, #80D0C7 100%);
  background-image: linear-gradient(115deg, #0093E9 0%, #80D0C7 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.sr-only {
  margin: 0;
  padding: 0;
  width: 1;
  height: 1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;

  position: absolute;
}

.hide {
  display: none;
}

.container {
  background-color: #fff;
  border: none;
  border-radius: 0.25rem;
  margin: 2rem auto;
  padding: 1rem;
  width: 90vw;
  max-width: 600px;
}

.container p {
  text-align: justify;
}

.container form,
.container p,
.container ul {
  margin: 1rem 0;
}

section *+* {
  margin-top: 1rem;
}

section h2 {
  font-size: 2rem;
}

input,
label {
  border: none;
  border-radius: 0.25rem;
  height: 2rem;
  display: block;
  width: 100%;
}

label {
  font-size: 1.3rem;
  font-weight: 500;
}

input {
  border: 1px solid #0093E9;
  padding: 0 1rem;
  box-sizing: border-box;
}

input:invalid {
  outline: 0;
  border: 1px solid #ff0d0d;
  box-shadow: 0 0 10px #ff0d0d;
}

button {
  background-color: #0093E9;
  border: none;
  border-radius: 0.25rem;
  margin-top: 1rem;
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: .3s ease-in-out;
}

button:hover {
  background-color: rgba(0, 147, 233, 0.7);
}

#task-table {
  width: 100%;
  border-spacing: 0 0.5rem;
}

#task-table thead {
  background: rgba(0, 147, 233, 1);
  color: #fff;
  font-size: 1.5rem;
}

#task-table td,
#task-table th {
  text-align: left;
  padding: 0.5rem;
}


#task-table button {
  margin-top: 0;
}

.table-container {
  max-width: 100%;
  max-height: 350px;
  overflow: auto;
}

@media (min-width: 600px) {
  html {
    font-size: 93.75%;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 100%;
  }
}
